@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 100%;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        display: none;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 24px 60px 24px 24px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .arr
    {
        right: 20px;
    }


    .accordion_item .data
    {
        padding: 0 24px 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-bottom: 24px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        display: none;
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 36px;
    }



    /*----------
        Calc
    ----------*/
    .calc .repeated_loan .title
    {
        font-size: 18px;
    }


    .calc .repeated_loan img
    {
        width: 130px;
        margin: 8px auto 20px;
    }


    .calc .repeated_loan .btn
    {
        font-size: 16px;

        height: 56px;
        margin-top: 32px;
    }



    /*---------
        Why
    ---------*/
    .why .swiper-slide
    {
        width: 195px;
    }



    /*-----------------------
        Obtaining methods
    -----------------------*/
    .obtaining_methods .row
    {
        margin-left: -60px;
    }

    .obtaining_methods .row > *
    {
        max-width: calc(16.666% - 60px);
        margin-left: 60px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-slide
    {
        width: 261px;
    }



    /*----------
        Auth
    ----------*/
    .auth
    {
        margin-bottom: 80px;
    }


    .auth .data
    {
        width: 600px;
    }



    /*---------------
        Documents
    ---------------*/
    .documents
    {
        display: none;
    }



    /*---------
        FAQ
    ---------*/
    .documents + .FAQ
    {
        margin-top: 0;
    }


    .FAQ .mob_title,
    .FAQ .accordion.mob
    {
        display: block;
    }


    .FAQ .tabs
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px 24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .FAQ .tabs::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .FAQ .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .FAQ .tabs .btn
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }

    .FAQ .tabs .btn + .btn
    {
        margin-left: 8px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-bottom: 80px;
    }


    .feedback .data
    {
        width: 600px;
    }



    /*------------
        Appeal
    ------------*/
    .appeal .data
    {
        padding: 15px;
    }


    .appeal .logo
    {
        font-size: 16px;

        width: 240px;
    }


    .appeal .info
    {
        width: calc(100% - 244px);
    }



    /*-----------
        Order
    -----------*/
    .order
    {
        margin-bottom: 80px;
    }


    .order .data
    {
        width: 600px;
        padding-bottom: 80px;
    }


    .order .section > .title.big
    {
        font-size: 28px;
    }


    .order .form
    {
        width: 460px;
    }


    .order .waiting .timer
    {
        margin-bottom: 32px;
    }


    .order .waiting .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .order .waiting .desc
    {
        font-size: 15px;

        margin-top: 24px;
    }


    .order .negative_decision .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }

    .order .negative_decision .desc
    {
        margin-bottom: 32px;
    }


    .order .approved .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }

    .order .approved .desc
    {
        margin-bottom: 32px;
    }


    .order .add_card .title
    {
        margin-bottom: 4px;
    }



    /*--------------
        Register
    --------------*/
    .register
    {
        margin-bottom: 80px;
    }


    .register .data
    {
        width: 600px;
    }


    .register .step2_3 .title.big,
    .register .section > .title.big
    {
        font-size: 28px;
    }


    .register .form
    {
        width: 460px;
    }



    /*--------
        LK
    --------*/
    .lk
    {
        margin-bottom: 60px;
        padding-top: 32px;
    }



    /*----------------
        LK - Loans
    ----------------*/
    .lk .loans .empty
    {
        min-height: 0;
        padding: 0;
    }


    .lk .loans .empty .desc
    {
        font-size: 15px;

        margin-top: 20px;
    }



    /*-------------------
        LK - Personal
    -------------------*/
    .lk .personal .accordion_item
    {
        border-radius: 0;
        background: none;
    }


    .lk .personal .accordion_item + .accordion_item
    {
        margin-top: 0;
    }


    .lk .personal .item + .item
    {
        margin-top: 8px;
    }



    /*-------------------
        LK - Security
    -------------------*/
    .lk .security
    {
        min-height: 0;
        padding: 0;
    }


    .lk .security .desc
    {
        font-size: 15px;

        margin-top: 20px;
    }



    /*----------------
        LK - Cards
    ----------------*/
    .lk .cards .empty
    {
        padding: 0;
    }


    .lk .cards .empty .desc
    {
        font-size: 15px;

        margin-top: 20px;
    }


    .lk .cards .add
    {
        margin-top: 50px;
    }



    /*-------------------
        LK - Requests
    -------------------*/
    .lk .requests .waiting
    {
        padding: 40px;
    }


    .lk .requests .waiting .timer
    {
        margin-bottom: 32px;
    }


    .lk .requests .waiting .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .lk .requests .waiting .desc
    {
        font-size: 15px;

        margin-top: 24px;
    }



    .lk .requests .negative_decision
    {
        padding: 40px;
    }


    .lk .requests .negative_decision .title
    {
        font-size: 28px;
    }


    .lk .requests .negative_decision .desc
    {
        font-size: 15px;
    }


    .lk .requests .negative_decision .link
    {
        margin-top: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 40px;
    }


    footer .row + .row
    {
        margin-top: 40px;
    }


    footer .logo
    {
        width: 100%;
        margin-bottom: 40px;
    }


    footer .phone,
    footer .email
    {
        margin-left: auto;
    }


    footer .text
    {
        width: 100%;
        max-width: 100%;
        margin-top: 40px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 24px;

        min-height: 80px;
    }


    #edit_phone_modal .form
    {
        padding: 0 32px;
    }


    #edit_phone_modal .form .line
    {
        width: calc(100% - 234px);
    }


    #edit_phone_modal .form .submit
    {
        width: 224px;
    }
}
